html {
  direction: ltr;
  font-feature-settings: 'kern';
  font-size: 18px;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html, body {
  align-content: center;
  color: #111;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif, serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body:not(.full-width) {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 24px 96px;
}

body:not(.full-width) > * {
  max-width: 800px;
}

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main:not(.full-width) {
  max-width: 800px;
}
main.full-width {
  width: 100%;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1.6em;
  margin-top: 24px;
  margin-bottom: 24px;
  height: fit-content;
  width: fit-content;
}

h2 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1.2em;
  margin-top: 48px;
  margin-bottom: 16px;
}

h3 {
  color: #333;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -0.02em;
  line-height: 1.5em;
}

h4 {
  color: #333;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -0.02em;
  line-height: 1.5;
  margin: 0;
}

a, a:hover, a:visited {
  color: unset;
}

pre, code {
  line-height: 1.4em;
}
